@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins, arial";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #1D4857;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 10vw;
}
header .logo {
  color: #d6b0a3;
  font-weight: 700;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background: #1D4857;
}

.social-footer {
  display: block;
}
.social-footer img {
  width: 20px;
}
.social-footer ul {
  display: flex;
  justify-content: space-between;
  width: 7em;
  align-items: center;
  margin: 0 auto;
}

.hero {
  background-image: url("/images/pexels-sindre-strøm-1144176.jpg");
  color: white;
  display: grid;
  text-align: center;
  padding: 6em 0em;
}

.section-title {
  text-align: center;
  font-size: 2rem;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #d6b0a3;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #1D4857;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-des {
  color: #3d3d3d;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #dddcdc;
  padding-top: 3em;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.icon-container {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  margin: 0 auto;
}
.icon-container.one {
  width: 150px;
}
.icon-container.two {
  width: 150px;
}
.icon-container.three {
  width: 150px;
}

.about {
  padding-top: 3em;
}

.portfolio {
  background: #dddcdc;
  padding-top: 3em;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.contact {
  padding-top: 2em;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
}
.container .header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}
.container .header h1 {
  font-size: 2rem;
  color: #1D4857;
  font-weight: 700;
}

.form-container {
  padding: 30px 0px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 60vw;
  margin: 0 auto;
}

.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 60vw;
  height: 5rem;
}

.form-container button {
  background-color: #1D4857;
  border: 2px solid #1D4857;
  border-radius: 4px;
  color: #FFF;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin: 0 auto;
  width: 7rem;
}

@media only screen and (min-width: 800px) {
  header {
    padding: 1.5em 10vw;
  }

  .featured, .portfolio {
    text-align: left;
  }

  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: centers;
  }

  .right {
    margin-right: 2em;
    margin-top: 1em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }

  .container {
    width: 80vw;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1050px) {
  header {
    padding: 1.5em 10vw;
  }

  .social-footer img {
    width: 30px;
  }

  .hero {
    height: 90vh;
    padding-top: 20em;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 100% auto;
    background: unset;
  }
  .nav-container header {
    background-color: #1D4857;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  section {
    padding: 4em;
  }

  .hero .content h1 {
    font-size: 6em;
  }
  .hero .content p {
    font-size: 2em;
  }

  .container {
    width: 70vw;
    margin: 0 auto;
  }

  .form-control input {
    padding: 10px;
    width: 50vw;
  }

  .form-control textarea {
    width: 50vw;
    height: 7rem;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 1.5em 10vw;
  }
  header h1 {
    text-align: center;
    font-size: 10em;
  }

  section {
    padding: 10%;
  }

  .hero .content h1 {
    font-size: 8em;
  }
  .hero .content p {
    font-size: 3em;
  }

  .form-control input {
    padding: 10px;
    width: 40vw;
  }

  .form-control textarea {
    width: 40vw;
    height: 8rem;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 1.5em 10vw;
  }
  header h1 {
    text-align: center;
    font-size: 10em;
  }

  section {
    padding: 10%;
  }

  .hero .content h1 {
    font-size: 10em;
  }
  .hero .content p {
    font-size: 4em;
  }
}/*# sourceMappingURL=main.css.map */